.loginHeader{
    background-color: #6D19FC;
    border-top: 1px solid #6D19FC;
}
#collasible-nav-dropdown{
    color: #6D19FC !important;
}
.loginTitle{
    color: antiquewhite;
}
.login-submit,.login-cancel{
    box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid #6D19FC !important;
    padding: 7px 25px;
    font-weight: 700 !important;
    text-align: center;
    font-size: 12px !important;
    text-transform: uppercase;
}
.login-submit{
    background-color: #6D19FC !important;
    border: 1px solid #6D19FC !important;
    color: white;
}
.login-cancel{
    border: 1px solid #6D19FC !important;
    background-color: #ffffff !important;
    color: #6D19FC !important;
}
input[type="email"],[type="password"],[type="number"],[type="text"]{
    box-shadow: none !important;
    border: 0 !important;
    margin: 3px;
    border-bottom: 1px solid #E5E4E2 !important;
}
.selectId{
    box-shadow: none !important;
    border: 0 !important;
    margin: 3px;
    border-bottom: 1px solid #E5E4E2 !important;
}
.registerHeader{
    background-color: #4B0082;
    border-top: none;
}
.registerTitle{
    color: antiquewhite;
}
.register-submit,.register-cancel{
    box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid #4B0082 !important;
    padding: 7px 25px;
    font-weight: 700 !important;
    text-align: center;
    font-size: 12px !important;
    text-transform: uppercase;
}
.register-submit{
    background-color: #4B0082!important;
    color: white;
}
 .register-cancel{
    border: 1px solid #4B0082;
    background-color: #ffffff !important;
    color:#4B0082 !important;
}
.top-heading{
    font-size: 18px;
    font-weight: bold;
    /* color: #6D19FC; */
}
h6{
    font-size: 14px;
}

.btn-get-started{
    box-shadow: none !important;
    border-radius: 0px !important;
    padding: 5px 25px;
    font-weight: 700 !important;
    text-align: center;
    font-size: 12px !important;
    text-transform: uppercase;
    margin:  20px 0 20px 0;
    border:  1px solid #6D19FC !important;
    background-color: #6D19FC !important;
    text-transform: uppercase;
    color: white;
}
.btn-get-started:hover{
    border:  1px solid #6D19FC !important;
    background-color: white !important;
    color: #6D19FC !important;
}
    