#content{
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  #sidebar {
    background-color: #6D19FC;
    min-width: 16rem;
    width: 16rem;
    padding: 10px;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  .page-content {
    width: calc(100% - 16rem);
    margin-top: 70px;
    margin-left: 16rem;
    transition: all 0.4s;
  } 
  
  #sidebar.active {
    left: 0;
    transition: 350ms;
    margin-left: -16rem;
  }
  
  #content.active {
    width: 100%;
    margin: 40px 0 0 0;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  .text-gray {
    color: #aaa;
  }
  .sideNavLink:hover{
      background-color: #00BFFF;
  }
  .button {
    background-color:transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}
  .logout{
    padding-top: 13rem;
    margin-left: 1rem;
  }
  .cardBox1,.cardBox2{
    margin: 5px;
    background-color: #6D19FC;
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
  }
  .cardBox1{
    background: linear-gradient(110deg, #6D19FC 60%, #a8fc19 40%);
  }
  .cardBox2{
    background: linear-gradient(110deg, #6D19FC 60%, #9D65FD 40%);
  }

  @media (max-width: 768px) {
    #sidebar {
      margin-left: -16rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 70px 0 0 0;
    }
    #content.active {
      margin-left: 16rem;
      width: calc(100% - 16rem);
    }
  }
  